@model test10.Models.Order

@{
    ViewData["Title"] = "CheckOut";
}
@using System.Net.Http
@using test10
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<products> products = HttpContextAccessor.HttpContext.Session.GetObject<List<products>>("cart");
    if (products == null)
    {
        products = new List<products>();
    }
    int count = products.Count();
}
<h2>CheckOut</h2>

<hr />
<div class="row col-sm-12">
    <div class="col-sm-5">
        <form asp-action="CheckOut" asp-controller="order" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderNumber" class="control-label"></label>
                <input asp-for="orderNumber" value="@count" readonly="readonly" class="form-control" />
                <span asp-validation-for="orderNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <h2 class="text-left">Total Price: @products.Sum(c=>c.price)</h2>
                <button type="submit" class="btn btn-success">Confirm Order</button>
            </div>
        </form>
    </div>
    <div class="col-sm-7">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>
                       Image
                    </th>
                    <th>
                       Name
                    </th>
                    <th>
                       Color
                    </th>
                    <th>
                       Quantity
                    </th>

                    <th>
                       Price
                    </th>

                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                <tr>
                    <td>
                        <img src="~/@item.Image" width="200px" height="150px" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ProductColor
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.price
                    </td>






                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
